build/
*conf
*~

# database data
localdb/data

# elasticsearch data
locales/data

# OS X
.DS_Store

# seahub data
seahub-data/thumbnail/*
seahub-data/avatars/*
!seahub-data/avatars/default.png
!seahub-data/avatars/default-non-register.jpg